<div class="center-box">
    <div class="container">
      <div class="section-container">
        <button id="focus" class="btn btn-timer btn-focus">Focus</button>
        <button id="shortbreak" class="btn btn-shortbreak">Short break</button>
        <button id="longbreak" class="btn btn-longbreak">Long break</button>
      </div>
      <div class="time-btn-container">
        <span id="time"></span>
        <div class="btn-container">
          <button id="btn-start" class="show">Start</button>
          <button id="btn-pause" class="hide">Pause</button>
          <button id="btn-reset" class="hide">
            <i class="fa-solid fa-rotate-right"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="container-todo">
      <h1>To-Do List</h1>
      <ul id="task-list">
        <!-- To-Do list items will be dynamically added here -->
      </ul>
      <div class="add-task">
        <input type="text" id="task" class="task-input" placeholder="Add a new task" onkeyup="handleKeyUp(event)">
        <button id="add" class="add-button">Add</button>
      </div>
    </div>


  </div>